* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:1rem;
}

html {
	font-size:62.5%;
}

header {
	border: 2px solid red;
	text-align: center;
}

footer {
	border: 2px solid;
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    
}

ul {
	list-style: none;
	/*display: flex;*/
}